main {
    height: auto;
}

button {
    background-color: rgb(190, 121, 255);

    width: 75px;
    height: 40px;

    margin-left: auto;
    margin-right: auto;

    border-radius: 20px;
    cursor: pointer;
}

.users {
    width: 150px;
    height: 199px;
    border: black solid 2px;
    border-radius: 10px;
    padding: 2px;
    margin-left: 5px;
    margin-top: 5px;
}

.users>img {
    border-radius: 100%;
    height: 75px;
    width: 75px;
}

.users>div {
    width: 100%;
}

#arflaka {
    margin-left: 2px;
}

#listPlayers {
    width: 100%;
    height: 212.2px;
    overflow-y: auto;
}

.objectifs {
    width: 150px;
    height: 199px;
    border: black solid 2px;
    border-radius: 10px;
    padding: 2px;
    margin-left: 5px;
    margin-top: 5px;
}

.objectifs>div {
    width: 100%;
}

#objectif {
    margin-left: 2px;
}

#listObj {
    width: 100%;
    height: 212.2px;
    overflow-y: auto;
}