#connect {
    height: 100%;
    width: 100%;
}

#logReg {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
}

#case {
    z-index: 3;
    background-color: rgb(50, 50, 50);
    opacity: 90%;
    width: 350px;
    height: 500px;
    padding: 1%;
    text-align: center;
    border-radius: 15px;
}

#case>h1 {
    color: white;
}

#case fieldset {
    border: none;
}

#case>form {
    width: auto;
}

#buttonCentrer {
    margin: 5% 0 0 0;
}

/*#region button envoyer */

#connectEnd {
    margin-top: 10px;
    font-family: inherit;
    font-size: 20px;
    background: rgb(35, 35, 35);
    color: rgb(113, 113, 113);
    padding: 0.7em 1em;
    padding-left: 0.9em;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}

#connectEnd svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

#connectEnd span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

#connectEnd:hover {
    animation: none;
}

#connectEnd:hover .svg-wrapper {
    animation: fly 0.6s ease-in-out infinite alternate;
}

#connectEnd:hover svg {
    transform: translateX(2.3em) rotate(45deg) scale(1.1);
}

#connectEnd:hover span {
    transform: translateX(5.5em);
}

#connectEnd:active {
    transform: scale(0.95);
    animation: none;
}

/* #endregion */
/* input */

.formGroup {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    max-width: 93%;
    margin: 1% 3% 1% 3%;
}

.formField {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid white;
    border-radius: 0;
    outline: 0;
    font-size: 17px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.formField::placeholder {
    color: transparent;
}

.formField:placeholder-shown~.formLabel {
    font-size: 17px;
    cursor: text;
    top: 20px;
}

.formLabel {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: white;
    pointer-events: none;
}

.formField:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #ffcc00, #fff700);
    border-image-slice: 1;
}

.formField:focus~.formLabel {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #ffcc00;
    font-weight: 700;
}

#inscription {
    color: rgb(154, 57, 154);
}