:root {
    --headerHeight: 55px;
    --footerHeight: 50px;
    --textColor: rgb(255, 255, 255);
    --siteBackgroundColor: rgb(38, 38, 38);
    --placeholderColor: rgb(110, 110, 110);
    --screenHeight: calc(100VH - calc(calc(var(--footerHeight) + var(--headerHeight)) + 2px));
    --font: url(../police/sunday_hotdog/Hotdog.ttf);

    --planetDivBackground: url(../Images/planete.png);
    --planetDivHeight: 100%;

    --discordLogo: url(../Images/discordLogo.png);
    --heightSocialButton: 40px;
    --widthSocialButton: 40px;

    --loginDisplay: none;
    --logoutDisplay: none;
}

/* polices */

@font-face {
    font-family: Hotdog;
    src: url(../police/sunday_hotdog/Hotdog.ttf);
}