header {
    height: var(--headerHeight);
    width: 100%;
    background-color: rgb(70, 70, 70);
    /*
    border: black solid 2px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    */
    position: relative;
    z-index: 100;
}

.Himg {
    height: 100%;
    width: 100%;
}


.Hli {
    border-top: black solid 1px;
    background-color: gray;
}

.Hli>a {
    text-decoration: none;
    color: black;
}

.Hli>a:hover {
    color: rgb(255, 136, 0);
}

.Hli>a:active {
    color: rgb(255, 174, 82);
}

.menuDeroulant>p:after {
    content: 'â¯';
    display: inline-block;
}

.menuDeroulant>p:hover {
    cursor: pointer;
}

.menuDeroulant:hover>p:after {
    animation: rotationFleche 0.2s linear forwards;
}

.sousMenuDeroulant {
    overflow: hidden;
    max-height: 0;
}

.menuDeroulant:hover>.sousMenuDeroulant {
    animation: apparitionSousMenu 5s forwards;
}

.Hbutton {
    color: var(--textColor);
    text-decoration: none;
    padding: 3px;
    width: 15%;
    text-align: center;
}


.Hbutton>li {
    background-color: transparent;
    border: black solid 1px;
    border-radius: 20px;
    cursor: pointer;
    list-style-type: none;
}

.Hbutton:hover {
    color: rgb(255, 136, 0);
}

.Hbutton:hover>a {
    color: rgb(255, 136, 0);
}


.Hbuttonim {
    height: var(--headerHeight);
    width: var(--headerHeight);
    background-color: transparent;
    border: rgb(0, 0, 0) solid 0px;
}

.Hbuttonim>img {
    height: 100%;
    border-radius: 30%;
}

.Hbuttonim>a>img {
    height: 100%;
    border-radius: 30%;
}

.Hbuttonim>a>img:hover {
    background-color: rgb(255, 136, 0);
}

#menu {
    height: 100%;
    width: 100%;
}

#menu>li {
    text-align: center;
    width: 14.24%;
    height: 33%;
    padding: 2px;
    list-style-type: none;
    vertical-align: top;
}

#menub {
    height: var(--screenHeight);
    width: clamp(70px, 15%, 120px);
    background-color: grey;
    position: fixed;
    bottom: var(--footerHeight);
    z-index: 99;
    overflow: hidden;
    max-width: 0;
}

#menub>li {
    text-align: center;
    list-style-type: none;
}

#logo {
    height: var(--headerHeight);
}

#logo img {
    height: var(--headerHeight);
}

#logo a:hover {
    background-color: rgb(255, 136, 0);
    border-radius: 30%;
}

#info {
    min-width: 150px;
    max-height: var(--headerHeight);
    height: 100%;
}

#info>p {
    height: 18px;
}

#fla {
    width: 18px;
    height: 18px;
}

#profil {
    height: var(--headerHeight);
}

#profil img {
    width: var(--headerHeight);
}

@media (max-width: 950px) {
    header {
        justify-content: space-between;
    }

    .Hbuttonim:hover>#menub {
        animation: apparitionSousMenu 5s forwards;
    }

    .Hbutton {
        width: 90%;
    }

    #logo {
        height: var(--headerHeight);
        width: var(--headerHeight);
    }

    #logo>p {
        width: 0%;
        height: 0%;
        overflow: hidden;
    }

    #menu {
        display: none;
    }
}

@media (min-width: 801px) {
    .Hbuttonim {
        cursor: default;
    }

    .menuDeroulant>p:after {
        vertical-align: top;
    }

    #logo>p {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 200%;
    }

    #menub {
        display: none;
    }

    #info {
        width: 10%;
    }
}


@media (min-width: 801px) and (max-width: 840px) {
    #menu>li {
        width: auto;
    }
}