@keyframes rotationFleche {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

@keyframes apparitionSousMenu {
    0% {
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
        border-top: 2px solid black;
    }

    30% {
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
    }

    100% {
        max-width: 100em;
        max-height: 100em;
        border-top: 2px solid black;
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
    }
}

@keyframes hoverSocialButton {
    0% {
        justify-content: left;
        max-width: var(--widthSocialButton);
    }

    100% {
        max-width: 50em;
        justify-content: center;
    }
}

@keyframes fly {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}