* {
    margin: 0%;
    padding: 0%;
    font-family: Hotdog;
}

body {
    background-color: var(--siteBackgroundColor);
}

main {
    height: calc(100vh - calc(calc(var(--footerHeight) + var(--headerHeight))));
}

img {
    border-radius: 100%;
}

p {
    color: var(--textColor);
}

th {
    text-align: start;
    font-weight: 200;

    color: var(--textColor);
}

table textarea {
    width: 150px;
    height: 100px;
}

a {
    text-decoration: none;
}

h1 {
    text-transform: uppercase;
    color: var(--textColor);
}

h2 {
    text-transform: uppercase;
    color: var(--textColor);
}

h3 {
    text-transform: uppercase;
    color: var(--textColor);
}

h4 {
    text-transform: uppercase;
    color: var(--textColor);
}

h5 {
    text-transform: uppercase;
    color: var(--textColor);
}

h6 {
    text-transform: uppercase;
    color: var(--textColor);
}

fieldset {
    display: flex;
    border-color: blue;
    flex-direction: column;
    justify-content: space-around;
}

/* #region input */
input {
    border-radius: 15px;
    height: 25px;
    width: 150px;
    text-align: center;
}

input::placeholder {
    color: var(--placeholderColor);
}

/*#region input file*/
input[type=file] {
    width: 150px;
    height: 25px;
    padding: 1.8px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid rgba(8, 8, 8, 0.288);
}

input[type=file]::file-selector-button {
    margin-right: 5px;
    width: 50px;
    height: 20px;
    border: none;
    background: #084cdf;
    padding: 3px 4px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #0d45a5;
}

/*#endregion*/
/*#region input color*/
input[type=color] {
    border-radius: 15px;
    cursor: pointer;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
}

::-webkit-color-swatch {
    border-radius: 15px;
}

/*#endregion*/
input[type=range] {
    appearance: none;
    cursor: pointer;
}

input[type=checkbox] {
    width: 25px;
}

/* #endregion input */

select {
    width: 150px;
    height: 25px;
    border-radius: 15px;
    border: solid 1px black;
}

textarea {
    border-radius: 10px;
    padding: 2px;
}

/* #region color */
.red {
    color: red;
}

.black {
    color: black;
}

/* #endregion */

.tHead {
    font-weight: 500;
    font-size: 20px;
}

.tText {
    font-weight: lighter;
    color: rgb(200, 200, 200);
}

.fullHeight {
    height: var(--screenHeight);
}

/*#region button*/
@keyframes sh0 {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(7deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-7deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

button {
    width: 150px;
    height: 50px;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    text-transform: uppercase;

    border: none;
    border-radius: 10px;

    color: #fff;
    background-color: #333;

    font-weight: 300;
    font-size: 16px;

    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

button:hover {
    animation: sh0 0.5s ease-in-out both;
}



button:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

button::before,
button::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    opacity: 0;
    transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
    z-index: -1;
    transform: translate(100%, -25%) translate3d(0, 0, 0);
}

button:hover::before,
button:hover::after {
    opacity: 0.15;
    transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

button:hover::before {
    transform: translate3d(50%, 0, 0) scale(0.9);
}

button:hover::after {
    transform: translate(50%, 0) scale(1.1);
}

/*#endregion*/

.more {
    width: 75px;
    height: 40px;

    font-size: 18px;
}