* {
    margin: 0%;
    padding: 0%;
    font-family: Hotdog;
}

body {
    background-color: var(--siteBackgroundColor);
}

main {
    height: calc(100vh - calc(calc(var(--footerHeight) + var(--headerHeight))));
}

p {
    color: var(--textColor);
}

table {
    width: 380px;
    height: auto;
}

th {
    text-align: start;
    font-weight: 200;

    color: var(--textColor);
}

table textarea {
    width: 150px;
    height: 100px;
}

a {
    text-decoration: none;
}

h1 {
    text-transform: uppercase;
    color: var(--textColor);
}

h2 {
    text-transform: uppercase;
    color: var(--textColor);
}

h3 {
    text-transform: uppercase;
    color: var(--textColor);
}

h4 {
    text-transform: uppercase;
    color: var(--textColor);
}

h5 {
    text-transform: uppercase;
    color: var(--textColor);
}

h6 {
    text-transform: uppercase;
    color: var(--textColor);
}

form {
    width: 35%;
}

fieldset {
    display: flex;
    border-color: blue;
    flex-direction: column;
    justify-content: space-around;
}

input {
    border-radius: 15px;
    height: 25px;
    width: 150px;
    text-align: center;
}

input::placeholder {
    color: var(--placeholderColor);
}

/*#region input file*/
input[type=file] {
    width: 150px;
    height: 25px;
    padding: 1.8px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid rgba(8, 8, 8, 0.288);
}

input[type=file]::file-selector-button {
    margin-right: 5px;
    width: 50px;
    height: 20px;
    border: none;
    background: #084cdf;
    padding: 3px 4px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #0d45a5;
}

/*#endregion*/
/*#region input color*/
input[type=color] {
    border-radius: 15px;
    cursor: pointer;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
}

::-webkit-color-swatch {
    border-radius: 15px;
}

/*#endregion*/
input[type=range] {
    appearance: none;
    cursor: pointer;
}

input[type=checkbox] {
    width: 25px;
}

select {
    width: 150px;
    height: 25px;
    border-radius: 15px;
    border: solid 1px black;
}

textarea {
    border-radius: 10px;
    padding: 2px;
}

button {
    background-color: rgb(190, 121, 255);

    width: 140px;
    height: 50px;

    margin-left: auto;
    margin-right: auto;

    border-radius: 20px;
    cursor: pointer;
}

button>p {
    color: black;
}

.fullHeight {
    height: var(--screenHeight);
}