/*#region input */

.formGroup {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    max-width: 93%;
    margin: 1% 3% 1% 3%;
}

.formField {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid white;
    border-radius: 0;
    outline: 0;
    font-size: 17px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.formField::placeholder {
    color: transparent;
}

.formField:placeholder-shown~.formLabel {
    font-size: 17px;
    cursor: text;
    top: 20px;
}

.formLabel {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: white;
    pointer-events: none;
}

.formField:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #ffcc00, #fff700);
    border-image-slice: 1;
}

.formField:focus~.formLabel {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #ffcc00;
    font-weight: 700;
}

/*#endregion*/

form div {
    margin-top: 10px;
}