* {
    margin: 0%;
    padding: 0%;
}

@media (max-width: 800px) {
    @keyframes rotationFleche {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(90deg);
        }
    }

    @keyframes apparitionSousMenu {
        0% {
            box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
        }

        30% {
            box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
        }

        100% {
            max-height: 50em;
            box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
        }
    }

    header {
        height: 55px;
        width: 100%;
        background-color: grey;
        border: black solid 2px;
        border-left: 0px;
        border-right: 0px;
        justify-content: space-between;
    }

    .Himg {
        height: 100%;
        width: auto;
    }

    .Hbuttonim {
        height: 55px;
        width: 55px;
        background-color: transparent;
        border: black solid 0px;
    }

    .Hbuttonim>#menub {
        overflow: hidden;
        max-height: 0;
    }

    .Hbuttonim>img {
        height: 100%;
        width: auto;
    }

    .Hbuttonim:hover {
        background-color: rgb(255, 136, 0);
    }

    .Hbuttonim:hover>#menub {
        animation: apparitionSousMenu 1s forwards;
    }

    .Hbutton>p {
        padding: 3px;
        border: black solid 1px;
        border-radius: 20px;
    }

    .Hbutton:hover {
        color: rgb(255, 136, 0);
    }

    .Hbutton>a {
        color: black;
        text-decoration: none;
        padding: 3px;
        border: black solid 1px;
        border-radius: 20px;
    }

    .Hbutton:hover>a {
        color: rgb(255, 136, 0);
    }

    .Hli {
        border-top: black solid 1px;
        background-color: gray;
    }

    .Hli>a {
        text-decoration: none;
        color: black;
    }

    .Hli>a:hover {
        color: rgb(255, 136, 0);
    }

    .Hli>a:active {
        color: rgb(255, 174, 82);
    }

    .menuDeroulant {
        display: flex;
    }

    .menuDeroulant>p:after {
        content: '❯';
        display: inline-block;
    }

    .menuDeroulant:hover>p:after {
        animation: rotationFleche 0.2s linear forwards;
    }

    .sousMenuDeroulant {
        overflow: hidden;
        max-height: 0;
    }

    .menuDeroulant:hover>.sousMenuDeroulant {
        animation: apparitionSousMenu 1s forwards;
    }

    #fla {
        width: 20px;
        height: 20px;
    }

    #logo {
        height: 100%;
        width: 55px;
    }

    #logo>p {
        width: 0%;
        height: 0%;
        overflow: hidden;
    }

    #menu {
        height: 100%;
        width: 100%;
        display: none;
    }

    #menu>button {
        width: 14.28%;
        height: 33%;
    }

    #menub {
        height: 240px;
        width: 110px;
    }

    #info {
        min-width: 100px;
        max-height: 55px;
        height: 100%;
        overflow: auto;
    }

    #profil {
        width: auto;
        height: 100%;
    }
}

@media (min-width: 801px) {

    @keyframes rotationFleche {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(90deg);
        }
    }

    @keyframes apparitionSousMenu {
        0% {
            box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
            border-top: 3px solid black;
        }

        30% {
            box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
        }

        100% {
            max-height: 50em;
            border-top: 3px solid black;
            box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
        }
    }

    header {
        height: 55px;
        width: 100%;
        background-color: grey;
        border: black solid 2px;
        border-left: 0px;
        border-right: 0px;
    }

    .Himg {
        height: 100%;
        width: auto;
    }

    .Hbuttonim {
        height: 100%;
        width: 55px;
        background-color: transparent;
        border: black solid 0px;
    }

    .Hbuttonim>img {
        height: 100%;
        width: auto;
    }

    .Hbutton {
        background-color: transparent;
        border: black solid 1px;
        border-radius: 20px;
    }

    .Hbutton:hover {
        color: rgb(255, 136, 0);
    }

    .Hbutton>a {
        color: black;
        text-decoration: none;
    }

    .Hbutton:hover>a {
        color: rgb(255, 136, 0);
    }

    .Hli {
        border: black solid 1px;
        background-color: gray;
    }

    .Hli>a {
        text-decoration: none;
        color: black;
    }

    .Hli>a:hover {
        color: rgb(255, 136, 0);
    }

    .Hli>a:active {
        color: rgb(255, 174, 82);
    }

    .menuDeroulant>p:after {
        content: '❯';
        display: inline-block;
    }

    .menuDeroulant:hover>p:after {
        animation: rotationFleche 0.2s linear forwards;
    }

    .sousMenuDeroulant {
        overflow: hidden;
        max-height: 0;
    }

    .menuDeroulant:hover>.sousMenuDeroulant {
        animation: apparitionSousMenu 1s forwards;
    }

    #fla {
        width: 18px;
        height: 18px;
    }

    #logo {
        width: auto;
        height: 100%;
    }

    #logo>p {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 200%;
    }

    #menu {
        height: 100%;
        width: 100%;
    }

    #menu>button {
        width: 14.28%;
        height: 33%;
    }

    #menub {
        display: none;
    }

    #info {
        min-width: 100px;
        max-height: 55px;
        width: 10%;
        height: 100%;
        overflow: auto;
    }

    #profil {
        width: auto;
        height: 100%;
    }
}