* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: lightblue;
}

header {
    height: 55px;
    width: 100%;
    background-color: grey;
    border: black solid 2px;
}

footer {
    height: 50px;
    width: 100%;
    background-color: grey;
    border: black solid 2px;
}


img {
    height: 100%;
    width: auto;
}

button {
    background-color: transparent;
    border: black solid 1px;
}

button:hover {
    color: rgb(255, 136, 0);
}

button>a {
    color: black;
    text-decoration: none;
}

button:hover>a {
    color: rgb(255, 136, 0);
}

li {
    border: black solid 1px;
}

li>a {
    text-decoration: none;
    color: black;
}

li>a:hover {
    color: rgb(255, 136, 0);
}

li>a:active {
    color: rgb(255, 174, 82);
}

p>img {
    width: 12px;
    height: 12px;
}

.menuDeroulant>p:after {
    content: 'â¯';
    display: inline-block;
}

@keyframes rotationFleche {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

.menuDeroulant:hover>p:after {
    animation: rotationFleche 0.2s linear forwards;
}

.sousMenuDeroulant {
    overflow: hidden;
    max-height: 0;
}

@keyframes apparitionSousMenu {
    0% {
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
        border-top: 3px solid black;
    }

    30% {
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
    }

    100% {
        max-height: 50em;
        border-top: 3px solid black;
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
    }
}

.menuDeroulant:hover>.sousMenuDeroulant {
    animation: apparitionSousMenu 1s forwards;
}

#logo {
    width: auto;
    height: 100%;
}

#logo>p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 200%;
}

#imglogo {
    width: auto;
    height: 100%;
}

#menu {
    height: 100%;
    width: 100%;
}

#menu>button {
    width: 14.28%;
    height: 33%;
}

#info {
    width: 10%;
    height: 100%;
}

#profil {
    width: auto;
    height: 100%;
}