* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: lightblue;
}

/*#region header*/
@keyframes rotationFleche {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

@keyframes apparitionSousMenu {
    0% {
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
        border-top: 3px solid black;
    }

    30% {
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
    }

    100% {
        max-height: 50em;
        border-top: 3px solid black;
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
    }
}

header {
    height: 55px;
    width: 100%;
    background-color: grey;
    border: black solid 2px;
}

.Himg {
    height: 100%;
    width: auto;
}

.Hbutton {
    background-color: transparent;
    border: black solid 1px;
}

.Hbutton:hover {
    color: rgb(255, 136, 0);
}

.Hbutton>a {
    color: black;
    text-decoration: none;
}

.Hbutton:hover>a {
    color: rgb(255, 136, 0);
}

.Hli {
    border: black solid 1px;
}

.Hli>a {
    text-decoration: none;
    color: black;
}

.Hli>a:hover {
    color: rgb(255, 136, 0);
}

.Hli>a:active {
    color: rgb(255, 174, 82);
}

.menuDeroulant>p:after {
    content: 'â¯';
    display: inline-block;
}

.menuDeroulant:hover>p:after {
    animation: rotationFleche 0.2s linear forwards;
}

.sousMenuDeroulant {
    overflow: hidden;
    max-height: 0;
}

.menuDeroulant:hover>.sousMenuDeroulant {
    animation: apparitionSousMenu 1s forwards;
}

#fla {
    width: 20px;
    height: 20px;
}

#logo {
    width: auto;
    height: 100%;
}

#logo>p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 200%;
}

#menu {
    height: 100%;
    width: 100%;
}

#menu>button {
    width: 14.28%;
    height: 33%;
}

#info {
    width: 10%;
    height: 100%;
}

#profil {
    width: auto;
    height: 100%;
}

/*#endregion header*/

form {
    width: 35%;
}

fieldset {
    display: flex;
    border-color: blue;
    flex-direction: column;
    justify-content: space-around;
}

input {
    border-radius: 15px;
    height: 25px;
    width: 150px;
}

input[type=file] {
    border-radius: 0px;
}

input[type=color] {
    border-radius: 0px;
}

input[type=range] {
    appearance: none;
    cursor: pointer;
}

button {
    background-color: rgb(190, 121, 255);

    width: 150px;
    height: 75px;

    margin-left: auto;
    margin-right: auto;

    border-radius: 20px;
}

h1 {
    text-transform: capitalize;
}

/*#send {
}*/

/*#restart {
}*/