:root {
    --headerHeight: 55px;
    --footerHeight: 50px;
    --textColor: rgb(0, 0, 0);
    --siteBackgroundColor: rgb(173, 216, 230);

    --planetDivBackground: url(../Images/planete.png);
    --planetDivHeight: 100%;

    --discordLogo: url(../Images/discordLogo.png);
    --heightSocialButton: 40px;
    --widthSocialButton: 40px;
}