footer {
    height: var(--footerHeight);
    width: 100%;
    background-color: rgb(128, 128, 128);
    border: black solid 2px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0px;
    z-index: 100;
}

#footerDiv {
    height: calc(var(--footerHeight) -1px);
}

#socialButton {
    width: 100%;
    height: 100%;
}

#discord {
    height: var(--heightSocialButton);
    width: var(--widthSocialButton);
    border-radius: 100px;
    background-image: var(--discordLogo);
    background-size: 100%;
    cursor: pointer;
}